* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f8b195;
  color: black;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*navbar*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #355c7d;
  color: white;
}

/*picking nav links anchor tags*/
.nav-links a {
  color: white;
}

/*logo styling*/
.logo {
  font-size: 32px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/*psuedo class*/
.menu {
  display: flex;

  gap: 1 em; /*one times of the parent size*/
  font-size: 20px;
}

.menu li:hover {
  background-color: #415f79;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

.options {
  position: relative;
}

.dropdown {
  background-color: #c06c84;
  padding: 1 em 0;
  position: absolute;
  display: none;
  border-radius: 8px;
  top: 35px;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color: #c06c84;
}

.options:hover .dropdown {
  display: block;
}

input[type="checkbox"] {
  display: none;
}
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/*Responsive Design */

@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: #c06c84;

    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color: #c7899b;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }

  .dropdown li:hover {
    background-color: #c7899b;
  }
}
