.photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.quote {
  text-align: center;
}

.button1 {
  background-color: #6c5b7b;
  color: white;
  position: absolute;
  top: 50%;
  padding: 10px;
}

.button1:hover {
  background-color: #5f5866;
  transition: 0.3s;
}
